.device LFE5U-45F

.comment Part: LFE5U-45F-6CABGA381

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R16C1:CIB_LR
arc: E3_H06E0303 JQ5

.tile CIB_R17C1:CIB_LR
arc: E3_H06E0303 S3_V06N0303

.tile CIB_R1C12:CIB
arc: W3_H06W0103 E3_H06W0103

.tile CIB_R1C15:CIB
arc: S3_V06S0103 H06W0103

.tile CIB_R1C18:CIB
arc: S3_V06S0103 E3_H06W0103
arc: W3_H06W0103 E3_H06W0103

.tile CIB_R1C21:CIB
arc: S3_V06S0103 H06W0103

.tile CIB_R1C24:CIB
arc: W3_H06W0103 E3_H06W0003

.tile CIB_R1C30:CIB
arc: W3_H06W0003 E3_H06W0303

.tile CIB_R1C36:CIB
arc: W3_H06W0303 E3_H06W0203

.tile CIB_R1C3:CIB
arc: S3_V06S0103 H06W0103

.tile CIB_R1C42:CIB
arc: W3_H06W0203 E3_H06W0103

.tile CIB_R1C48:CIB
arc: W3_H06W0103 E3_H06W0003

.tile CIB_R1C54:CIB
arc: S3_V06S0303 E3_H06W0303
arc: W3_H06W0003 E3_H06W0303

.tile CIB_R1C60:CIB
arc: W3_H06W0303 E3_H06W0303

.tile CIB_R1C66:CIB
arc: W3_H06W0303 E3_H06W0203

.tile CIB_R1C6:CIB
arc: W3_H06W0103 E3_H06W0103

.tile CIB_R1C72:CIB
arc: W3_H06W0203 E3_H06W0103

.tile CIB_R1C78:CIB
arc: W3_H06W0103 E3_H06W0003

.tile CIB_R1C80:CIB
arc: E1_H02E0501 S3_V06N0303

.tile CIB_R1C81:CIB
arc: JA0 H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R1C82:CIB
arc: E1_H02E0701 S3_V06N0203

.tile CIB_R1C83:CIB
arc: JA0 H02E0701
enum: CIB.JB0MUX 0

.tile CIB_R1C84:CIB
arc: E1_H02E0501 V01N0101
arc: W3_H06W0003 JQ0

.tile CIB_R1C85:CIB
arc: JA0 H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R1C86:CIB
arc: JA0 V02N0701
enum: CIB.JB0MUX 0

.tile CIB_R21C1:CIB_LR
arc: S1_V02S0501 S3_V06N0303

.tile CIB_R23C1:CIB_LR
arc: JA3 N1_V02S0501
arc: N3_V06N0303 JF5
enum: CIB.JB3MUX 0

.tile CIB_R25C1:CIB_LR
arc: E1_H02E0701 JF5
arc: JA3 H02W0501
enum: CIB.JB3MUX 0

.tile CIB_R25C89:CIB_LR
arc: W3_H06W0303 JQ5

.tile CIB_R26C1:CIB_LR
arc: E1_H02E0401 S1_V02N0401
arc: E3_H06E0003 S3_V06N0003

.tile CIB_R27C1:CIB_LR
arc: E1_H02E0501 V06N0303
arc: N3_V06N0303 E1_H01W0100

.tile CIB_R28C1:CIB_LR
arc: E1_H02E0601 S1_V02N0601
arc: E3_H06E0303 S3_V06N0303
arc: JA0 H02W0501
arc: N1_V02N0401 S3_V06N0203
enum: CIB.JB0MUX 0

.tile CIB_R30C1:CIB_LR
arc: N1_V02N0601 S1_V02N0301
arc: N3_V06N0303 S3_V06N0203

.tile CIB_R32C1:CIB_LR
arc: N1_V02N0301 S3_V06N0003
arc: N3_V06N0003 S3_V06N0303

.tile CIB_R34C1:CIB_LR_S
arc: JA3 E1_H02W0701
arc: N3_V06N0203 S1_V02N0701
arc: N3_V06N0303 S3_V06N0303
enum: CIB.JB3MUX 0

.tile CIB_R34C3:CIB_EBR
arc: W1_H02W0701 N3_V06S0203

.tile CIB_R36C1:CIB_LR
arc: N1_V02N0701 S1_V02N0701
arc: N3_V06N0203 S3_V06N0203

.tile CIB_R38C1:CIB_LR
arc: N1_V02N0701 JQ5
arc: N3_V06N0003 S3_V06N0303
arc: N3_V06N0303 JF5

.tile CIB_R40C1:CIB_LR
arc: N3_V06N0303 JQ5

.tile CIB_R42C1:CIB_LR
arc: N3_V06N0203 S1_V02N0701

.tile CIB_R44C1:CIB_LR
arc: N1_V02N0701 JQ5
arc: N3_V06N0303 JF5

.tile CIB_R5C1:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C89:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C3:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C42:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C43:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C44:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C45:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C46:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C47:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C48:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C49:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C50:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C51:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C52:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C53:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R70C69:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C70:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C71:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C72:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C73:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C74:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C75:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C76:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C77:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C78:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C79:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R70C80:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R70C87:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile MIB_R0C81:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R0C83:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R0C84:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP

.tile MIB_R0C85:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R0C86:PIOT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R0C87:BANKREF1
enum: BANK.VCCIO 3V3

.tile MIB_R10C0:BANKREF7
enum: BANK.VCCIO 3V3

.tile MIB_R10C40:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000

.tile MIB_R10C41:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000

.tile MIB_R15C0:PICL1_DQS0
enum: PIOD.BASE_TYPE INPUT_LVCMOS33
enum: PIOD.HYSTERESIS ON
enum: PIOD.PULLMODE UP

.tile MIB_R16C0:PICL2_DQS1
enum: PIOD.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C81:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C83:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C84:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C85:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R1C86:PICT1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R23C0:PICL0
arc: JDIA JPADDIA_PIO
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R24C0:PICL1
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOC.BASE_TYPE INPUT_LVCMOS33
enum: PIOC.HYSTERESIS ON
enum: PIOC.PULLMODE UP
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R24C90:PICR1
enum: PIOD.BASE_TYPE INPUT_LVCMOS33
enum: PIOD.HYSTERESIS ON
enum: PIOD.PULLMODE UP

.tile MIB_R25C0:PICL2
enum: PIOC.BASE_TYPE INPUT_LVCMOS33
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R25C90:PICR2
enum: PIOD.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R27C0:PICL1_DQS0
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R28C0:PICL2_DQS1
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R33C0:PICL1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R34C0:MIB_CIB_LR
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R38C0:PICL0
arc: JDIA JPADDIA_PIO
arc: JDIB JPADDIB_PIO
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R39C0:PICL1_DQS0
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOD.BASE_TYPE INPUT_LVCMOS33
enum: PIOD.HYSTERESIS ON
enum: PIOD.PULLMODE UP

.tile MIB_R40C0:PICL2_DQS1
enum: PIOD.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R44C0:PICL0
arc: JDIA JPADDIA_PIO
arc: JDIB JPADDIB_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R45C0:PICL1
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP

.tile MIB_R58C40:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000

.tile MIB_R58C41:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000

.tile MIB_R71C4:EFB0_PICB0
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile R13C14:PLC2
arc: S1_V02S0101 H02W0101

.tile R13C15:PLC2
arc: W1_H02W0101 N3_V06S0103

.tile R13C17:PLC2
arc: V01S0000 S3_V06N0103

.tile R13C18:PLC2
arc: S1_V02S0201 N3_V06S0103

.tile R13C21:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R13C3:PLC2
arc: S3_V06S0203 N3_V06S0203

.tile R13C54:PLC2
arc: S3_V06S0103 N3_V06S0003

.tile R13C80:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R13C82:PLC2
arc: N3_V06N0103 S3_V06N0003

.tile R14C14:PLC2
arc: A7 V02S0101
arc: C7 H02W0401
arc: D7 V02N0601
arc: E3_H06E0203 F7
arc: F7 F7_SLICE
word: SLICED.K1.INIT 0000101010101010
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICED.B1MUX 1

.tile R14C15:PLC2
arc: W1_H02W0401 E1_H02W0401

.tile R14C17:PLC2
arc: E1_H02E0401 N1_V01S0000
arc: W1_H02W0401 N1_V01S0000

.tile R14C18:PLC2
arc: V00B0000 V02S0201
arc: B7 S1_V02N0701
arc: C7 H02E0401
arc: D7 V00B0000
arc: E3_H06E0203 F7
arc: F7 F7_SLICE
word: SLICED.K1.INIT 0011111100000000
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICED.A1MUX 1

.tile R14C20:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R14C24:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R14C26:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R14C30:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R14C32:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R14C36:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R14C38:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R14C42:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R14C44:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R14C48:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R14C50:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R14C54:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R14C56:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R14C60:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R14C62:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R14C66:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R14C68:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R14C72:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R14C74:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R14C78:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R14C80:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R14C84:PLC2
arc: N3_V06N0103 W3_H06E0103

.tile R14C86:PLC2
arc: N3_V06N0103 W3_H06E0103

.tile R15C14:PLC2
arc: N1_V02N0601 S1_V02N0301

.tile R16C13:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R16C18:PLC2
arc: N1_V02N0701 E1_H01W0100

.tile R16C19:PLC2
arc: H01W0100 W3_H06E0303

.tile R16C7:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R17C13:PLC2
arc: E1_H02E0301 W3_H06E0003

.tile R17C14:PLC2
arc: N1_V02N0301 H02E0301

.tile R17C7:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R19C17:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R19C21:PLC2
arc: S3_V06S0003 N3_V06S0303

.tile R19C3:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R19C54:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R19C80:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R19C82:PLC2
arc: N3_V06N0003 S3_V06N0303

.tile R25C11:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R25C17:PLC2
arc: N3_V06N0103 E3_H06W0103
arc: W3_H06W0203 E3_H06W0103

.tile R25C20:PLC2
arc: B4 V02N0501
arc: C4 E1_H02W0601
arc: D4 H02W0001
arc: E3_H06E0203 F4
arc: F4 F4_SLICE
word: SLICEC.K0.INIT 0011111100000000
enum: SLICEC.MODE LOGIC
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEC.A0MUX 1

.tile R25C21:PLC2
arc: W1_H02W0001 N3_V06S0003

.tile R25C22:PLC2
arc: W1_H02W0601 E1_H01W0000

.tile R25C23:PLC2
arc: H01W0000 E3_H06W0103
arc: W3_H06W0103 E3_H06W0103

.tile R25C26:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R25C29:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R25C2:PLC2
arc: H00R0100 H02W0501
arc: S1_V02S0001 H06W0003
arc: S1_V02S0501 H02W0501
arc: W1_H02W0501 V01N0101
arc: A6 H02E0701
arc: C6 H02W0601
arc: D6 H00R0100
arc: F6 F6_SLICE
arc: S3_V06S0303 F6
word: SLICED.K0.INIT 0101111100000000
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_0 _NONE_
enum: SLICED.B0MUX 1

.tile R25C32:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R25C35:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R25C38:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R25C3:PLC2
arc: S1_V02S0501 N3_V06S0303
arc: W1_H02W0501 N3_V06S0303
arc: W1_H02W0601 E1_H02W0601

.tile R25C41:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R25C44:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R25C47:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R25C50:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R25C53:PLC2
arc: E1_H02E0601 E3_H06W0303
arc: W3_H06W0303 E3_H06W0303

.tile R25C54:PLC2
arc: E1_H02E0201 N3_V06S0103

.tile R25C55:PLC2
arc: A2 V02N0501
arc: C2 W1_H02E0601
arc: D2 H02E0201
arc: E3_H06E0103 F2
arc: F2 F2_SLICE
word: SLICEB.K0.INIT 0101111100000000
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.B0MUX 1

.tile R25C56:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R25C59:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R25C5:PLC2
arc: S3_V06S0303 E3_H06W0303
arc: W1_H02W0601 E3_H06W0303
arc: W3_H06W0003 E3_H06W0303

.tile R25C61:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R25C62:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R25C65:PLC2
arc: W3_H06W0203 E3_H06W0203

.tile R25C67:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R25C68:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R25C71:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R25C73:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R25C74:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R25C77:PLC2
arc: W3_H06W0103 E3_H06W0003

.tile R25C79:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R25C80:PLC2
arc: N3_V06N0303 W3_H06E0303

.tile R25C82:PLC2
arc: N3_V06N0303 H06E0303

.tile R25C83:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R26C13:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R26C19:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R26C20:PLC2
arc: N1_V02N0501 S1_V02N0401

.tile R26C25:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R26C2:PLC2
arc: A1 V02S0501
arc: C1 H02E0401
arc: D1 V02S0001
arc: F1 F1_SLICE
arc: N1_V01N0101 F1
word: SLICEA.K1.INIT 0000101010101010
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.B1MUX 1

.tile R26C31:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R26C37:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R26C43:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R26C49:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R26C55:PLC2
arc: N1_V02N0501 W3_H06E0303

.tile R26C7:PLC2
arc: E3_H06E0103 W3_H06E0003

.tile R27C2:PLC2
arc: H00R0100 H02W0501
arc: S1_V02S0501 H02W0501
arc: A6 H02E0501
arc: C6 V02N0001
arc: D6 H00R0100
arc: F6 F6_SLICE
arc: H01W0100 F6
word: SLICED.K0.INIT 0101111100000000
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_0 _NONE_
enum: SLICED.B0MUX 1

.tile R27C3:PLC2
arc: W1_H02W0501 N1_V02S0501

.tile R28C13:PLC2
arc: E3_H06E0003 W3_H06E0303

.tile R28C19:PLC2
arc: E1_H01E0001 W3_H06E0003

.tile R28C20:PLC2
arc: N1_V02N0401 H01E0001

.tile R28C2:PLC2
arc: N1_V02N0001 H02W0001
arc: W1_H02W0501 V06S0303
arc: A3 V02S0501
arc: C3 H02E0601
arc: D3 H02W0001
arc: E1_H01E0001 F3
arc: F3 F3_SLICE
word: SLICEB.K1.INIT 0000101010101010
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.B1MUX 1

.tile R28C3:PLC2
arc: S3_V06S0203 H01E0001
arc: W1_H02W0001 E1_H02W0501

.tile R28C5:PLC2
arc: W1_H02W0501 V06S0303

.tile R28C7:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R2C84:PLC2
arc: N1_V01N0101 S3_V06N0203

.tile R2C86:PLC2
arc: N1_V02N0701 S3_V06N0203

.tile R57C84:PLC2
word: SLICEA.K0.INIT 0000000000000000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1

.tile R7C15:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R7C18:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R7C21:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R7C3:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R7C54:PLC2
arc: S3_V06S0003 N3_V06S0303

.tile R7C80:PLC2
arc: N3_V06N0303 S3_V06N0303

.tile R7C82:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R8C84:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R8C86:PLC2
arc: N3_V06N0203 S3_V06N0103

