LOCATE COMP "clk_i" SITE "P3";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

//LOCATE COMP "led_o[0]" SITE "M4";
//LOCATE COMP "led_o[1]" SITE "N4";
//LOCATE COMP "led_o[2]" SITE "M3";
//LOCATE COMP "led_o[3]" SITE "N3";
//LOCATE COMP "led_o[4]" SITE "M1";
//LOCATE COMP "led_o[5]" SITE "R3";
//LOCATE COMP "led_o[6]" SITE "T3";
//LOCATE COMP "led_o[7]" SITE "T2";

//LOCATE COMP "led_o[0]" SITE "P17";
//LOCATE COMP "led_o[1]" SITE "P18";
//LOCATE COMP "led_o[2]" SITE "N18";
//LOCATE COMP "led_o[3]" SITE "L20";
//LOCATE COMP "led_o[4]" SITE "L18";
//LOCATE COMP "led_o[5]" SITE "T17";
//LOCATE COMP "led_o[6]" SITE "N17";
//LOCATE COMP "led_o[7]" SITE "M18";

//LOCATE COMP "led_o[0]" SITE "E19";
//LOCATE COMP "led_o[1]" SITE "B3";
//LOCATE COMP "led_o[2]" SITE "K4";
//LOCATE COMP "led_o[3]" SITE "A2";
//LOCATE COMP "led_o[4]" SITE "J5";
//LOCATE COMP "led_o[5]" SITE "B2";
//LOCATE COMP "led_o[6]" SITE "K5";
//LOCATE COMP "led_o[7]" SITE "K3";

LOCATE COMP "led_o[0]" SITE "A19";
LOCATE COMP "led_o[1]" SITE "E2";
LOCATE COMP "led_o[2]" SITE "B20";
LOCATE COMP "led_o[3]" SITE "C2";
LOCATE COMP "led_o[4]" SITE "A18";
LOCATE COMP "led_o[5]" SITE "D2";
LOCATE COMP "led_o[6]" SITE "B1";
LOCATE COMP "led_o[7]" SITE "B18";

LOCATE COMP "btn_i" SITE "B19";

IOBUF PORT "led_o[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led_o[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led_o[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led_o[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led_o[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led_o[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "led_o[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "led_o[7]" IO_TYPE=LVCMOS33;

IOBUF PORT "btn_i" PULLMODE=UP IO_TYPE=LVCMOS33;

