LOCATE COMP "clk_i" SITE "P3";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

// CN2 9-pin
//LOCATE COMP "led_o[0]" SITE "P17";
//LOCATE COMP "led_o[1]" SITE "P18";
//LOCATE COMP "led_o[2]" SITE "N18";
//LOCATE COMP "led_o[3]" SITE "L20";
//LOCATE COMP "led_o[4]" SITE "L18";
//LOCATE COMP "led_o[5]" SITE "T17";
//LOCATE COMP "led_o[6]" SITE "N17";
//LOCATE COMP "led_o[7]" SITE "M18";

// CN3 9-pin
//LOCATE COMP "sw_i[0]" SITE "B3";
//LOCATE COMP "sw_i[1]" SITE "K4";
//LOCATE COMP "sw_i[2]" SITE "A2";
//LOCATE COMP "sw_i[3]" SITE "J5";
//LOCATE COMP "sw_i[4]" SITE "J4";
//LOCATE COMP "sw_i[5]" SITE "B2";
//LOCATE COMP "sw_i[6]" SITE "K5";
//LOCATE COMP "sw_i[7]" SITE "K3";
//LOCATE COMP "btn0_i" SITE "B19";

// CN4 9-pin
LOCATE COMP "street1_o[0]" SITE "A19";
LOCATE COMP "street1_o[1]" SITE "E2";
LOCATE COMP "street1_o[2]" SITE "B20";
//LOCATE COMP "led_o[3]" SITE "C2";
//LOCATE COMP "led_o[4]" SITE "A18";
LOCATE COMP "street2_o[0]" SITE "D2";
LOCATE COMP "street2_o[1]" SITE "B1";
LOCATE COMP "street2_o[2]" SITE "B18";
LOCATE COMP "rst_ni" SITE "E19";

// CN5 9-pin
//LOCATE COMP "led_o[0]" SITE "M4";
//LOCATE COMP "led_o[1]" SITE "N4";
//LOCATE COMP "led_o[2]" SITE "M3";
//LOCATE COMP "led_o[3]" SITE "N3";
//LOCATE COMP "led_o[4]" SITE "M1";
//LOCATE COMP "led_o[5]" SITE "R3";
//LOCATE COMP "led_o[6]" SITE "T3";
//LOCATE COMP "led_o[7]" SITE "T2";

// Port settings

IOBUF PORT "street1_o[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "street1_o[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "street1_o[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "street2_o[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "street2_o[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "street2_o[2]" IO_TYPE=LVCMOS33;

IOBUF PORT "rst_ni" PULLMODE=UP IO_TYPE=LVCMOS33;

//IOBUF PORT "sw_i[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
//IOBUF PORT "sw_i[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
//IOBUF PORT "sw_i[2]" PULLMODE=UP IO_TYPE=LVCMOS33;
//IOBUF PORT "sw_i[3]" PULLMODE=UP IO_TYPE=LVCMOS33;
//IOBUF PORT "sw_i[4]" PULLMODE=UP IO_TYPE=LVCMOS33;
//IOBUF PORT "sw_i[5]" PULLMODE=UP IO_TYPE=LVCMOS33;
//IOBUF PORT "sw_i[6]" PULLMODE=UP IO_TYPE=LVCMOS33;
//IOBUF PORT "sw_i[7]" PULLMODE=UP IO_TYPE=LVCMOS33;

