LOCATE COMP "clk_i" SITE "P3";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

// CN2 9-pin
//LOCATE COMP "led_o[0]" SITE "P17";
//LOCATE COMP "led_o[1]" SITE "P18";
//LOCATE COMP "led_o[2]" SITE "N18";
//LOCATE COMP "led_o[3]" SITE "L20";
//LOCATE COMP "led_o[4]" SITE "L18";
//LOCATE COMP "led_o[5]" SITE "T17";
//LOCATE COMP "led_o[6]" SITE "N17";
//LOCATE COMP "led_o[7]" SITE "M18";

// CN3 9-pin
LOCATE COMP "a[0]" SITE "B3";
LOCATE COMP "a[1]" SITE "K4";
LOCATE COMP "a[2]" SITE "A2";
LOCATE COMP "a[3]" SITE "J5";
LOCATE COMP "a[4]" SITE "J4";
LOCATE COMP "a[5]" SITE "B2";
LOCATE COMP "a[6]" SITE "K5";
LOCATE COMP "a[7]" SITE "K3";
LOCATE COMP "c" SITE "B19";

// CN4 9-pin
LOCATE COMP "d" SITE "A19";
LOCATE COMP "clk_o" SITE "E2";
LOCATE COMP "pulse_o" SITE "B20";
//LOCATE COMP "led_o[3]" SITE "C2";
LOCATE COMP "a_out[0]" SITE "A18";
LOCATE COMP "a_out[1]" SITE "D2";
LOCATE COMP "a_out[2]" SITE "B1";
LOCATE COMP "a_out[3]" SITE "B18";
LOCATE COMP "rst_ni" SITE "E19";

// CN5 9-pin
//LOCATE COMP "led_o[0]" SITE "M4";
//LOCATE COMP "led_o[1]" SITE "N4";
//LOCATE COMP "led_o[2]" SITE "M3";
//LOCATE COMP "led_o[3]" SITE "N3";
//LOCATE COMP "led_o[4]" SITE "M1";
//LOCATE COMP "led_o[5]" SITE "R3";
//LOCATE COMP "led_o[6]" SITE "T3";
//LOCATE COMP "led_o[7]" SITE "T2";

// Port settings

IOBUF PORT "clk_o" IO_TYPE=LVCMOS33;
IOBUF PORT "d" IO_TYPE=LVCMOS33;
IOBUF PORT "pulse_o" IO_TYPE=LVCMOS33;

IOBUF PORT "a_out[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_out[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_out[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_out[3]" IO_TYPE=LVCMOS33;

IOBUF PORT "rst_ni" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "c" PULLMODE=UP IO_TYPE=LVCMOS33;

IOBUF PORT "a[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "a[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "a[2]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "a[3]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "a[4]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "a[5]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "a[6]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "a[7]" PULLMODE=UP IO_TYPE=LVCMOS33;

